/*
  Primary Site Theme
  - color 1 is the lightest
  - color three is the core
  - color 5 is the darkest

  https://coolors.co/1e1e21-121f40-ad121b-ffd95c-00f7e7-de21e3-f8f8f8
*/

/* https://coolors.co/131315-19191b-1e1e21-27272c-303036 */
$color-dark-1: #303036;
$color-dark-2: #27272C;
$color-dark-3: #1E1E21;
$color-dark-4: #19191B;
$color-dark-5: #131315;

/* https://coolors.co/8d1291-b61aba-de21e3-e448e8-e65ceb */
$color-neonpurple-1: #E65CEB;
$color-neonpurple-2: #E448E8;
$color-neonpurple-3: #DE21E3;
$color-neonpurple-4: #B61ABA;
$color-neonpurple-5: #8D1291;

/* https://coolors.co/07ddd8-04eae0-00f7e7-43fbef-85fff7 */
$color-neonblue-1: #85fff7;
$color-neonblue-2: #43fbef;
$color-neonblue-3: #00f7e7;
$color-neonblue-4: #04eae0;
$color-neonblue-5: #07ddd8;

/* https://coolors.co/090f20-0e1730-121f40-243e80-365dbf */
$color-blue-1: #365DBF;
$color-blue-2: #243E80;
$color-blue-3: #121F40;
$color-blue-4: #0E1730;
$color-blue-5: #090F20;

/* https://coolors.co/ffc60a-ffcf33-ffd95c-ffe285-ffecad */
$color-yellow-1: #ffecad;
$color-yellow-2: #ffe285;
$color-yellow-3: #ffd95c;
$color-yellow-4: #ffcf33;
$color-yellow-5: #ffc60a;

/* https://coolors.co/880112-9b0a17-ad121b-ce3032-d93d3c */
$color-red-1: #D93D3C;
$color-red-2: #CE3032;
$color-red-3: #AD121B;
$color-red-4: #9B0A17;
$color-red-5: #880112;

/* https://coolors.co/ebebeb-f5f5f5-f8f8f8-fafafa-ffffff */
$color-light-1: #FFFFFF;
$color-light-2: #FAFAFA;
$color-light-3: #F8F8F8;
$color-light-4: #F5F5F5;
$color-light-5: #EBEBEB;

/* https://coolors.co/e63946-2b9449 */
$color-pass: #2B9449;
$color-fail: #E63946;

/* https://coolors.co/f94144-f3722c-f9c74f-90be6d-52991b */
$color-strength-excellent: #52991b;
$color-strength-good: #90be6d;
$color-strength-average: #f9c74f;
$color-strength-mediocre: #f3722c;
$color-strength-poor: #f94144;
