@import "./color.scss";

/* core font for the site */
@font-face {
    font-family: 'cairo';
    src: url('@/fonts/cairo.ttf');
}
  
* { font-family: 'cairo'; }

.space { flex-grow: 1; }

.non-selectable {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

a:link {
    color: $color-yellow-3;
    text-decoration: none;
}
a:visited {
    color: $color-yellow-5;
}
a:active {
    // color: $color-charcoal-1;
}
a:hover {
    text-decoration: underline;
    color: $color-yellow-1;
    transition: 200ms;
    cursor: pointer;
}